html, body {
  background-image: linear-gradient(#f5f1e0, #d1dfcd, #a9c6c2, #92a0b5, #7f839f);
  width: 100% auto;
  height: 100% auto;
}

#menu {
  width: 85%;
  height: auto;
  margin: auto;
  padding-left: 80px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 30px;
  background-color: #F3F4F6;
  border-radius: 0.3rem;
}

#menu table {
  margin: 0 auto;
  margin-right: 5px;
}

#menu table td {
  
}

#conteudo{
  width: 85%;
  height: auto;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 30px;
  background-color: #F3F4F6;
  border-radius: 0.3rem;
}
